IS_DEV=1
JWT_SECRET="SECRET_KEY"

DB_MAIN_DSN=mysql:host=localhost;port=3306;dbname=maindb
DB_MAIN_USER=root
DB_MAIN_PASS=password

DB_SUB_DSN=mysql:host=localhost;port=3306;dbname=subdb
DB_SUB_USER=root
DB_SUB_PASS=password

DB_EMDDI_DSN=mysql:host=localhost;port=3306;dbname=emddidb
DB_EMDDI_USER=root
DB_EMDDI_PASS=password
