IS_DEV=1

DB_MAIN_DSN=mysql:host=localhost;port=3306;dbname=maindb
DB_MAIN_USER=root
DB_MAIN_PASS=password

DB_SUB_DSN=mysql:host=localhost;port=3306;dbname=subdb
DB_SUB_USER=root
DB_SUB_PASS=password

DB_EMDDI_DSN=mysql:host=localhost;port=3306;dbname=emddidb
DB_EMDDI_USER=root
DB_EMDDI_PASS=password

JWT_ISS=booking-system
JWT_TTL=604800
JWT_PEM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# JWT_PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----" # Optional — chỉ để gửi cho hệ thống khác verify token;
