IS_DEV=1

DB_MAIN_DSN=mysql:host=localhost;port=3306;dbname=main
DB_MAIN_USER=root
DB_MAIN_PASS=password

DB_SUB_DSN=mysql:host=localhost;port=3306;dbname=sub
DB_SUB_USER=root
DB_SUB_PASS=password

DB_EMDDI_DSN=mysql:host=localhost;port=3306;dbname=emddi
DB_EMDDI_USER=root
DB_EMDDI_PASS=password
